@font-face {
    font-family: 'RubikMonoOne'; /* Name your font */
    src: url('../fonts/RubikMonoOne-Regular.ttf') format('truetype'), /* Specify the font file(s) */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex;

    background-color: #111d45aa;
    font-family: 'RubikMonoOne';
    padding: 1rem;
}

.menu-a {
    text-decoration: none;
    color: lightblue;
    
    &:hover {
        color: white;
        font-weight: bold;
        letter-spacing: 1rem;
        transition: letter-spacing 1s;
    }
}

.logo {
    max-width: 15rem;
}

.inline {
    display: inline;
}

.footnote{
    position: fixed;
    bottom: 0;

    font-size: 0.7rem;
    font-style: italic;
}

.contributors {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contributor {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(33% - 20px); /* Example for a 3-column layout */
}

.wish-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.wish-list-article > a {
    text-decoration: none;
    color: lightblue;
    
    &:hover {
        color: white;
        font-weight: bold;
        letter-spacing: 0.3rem;
        transition: letter-spacing 1s;
    }
}
