{% extends 'base.html.twig' %}

{% block body %}
	<h1>LIST PAGE</h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	Ullam expedita facilis laboriosam, inventore quasi, earum,
	quibusdam molestias maxime pariatur ut voluptatum placeat velit perspiciatis
	veritatis illum nisi ipsam eos id.
{% endblock %}

{% block title %}
	{{parent()}} | List
{% endblock %}
