{% extends 'base.html.twig' %}

{% block body %}
	<h1>LIST PAGE</h1>
	<section class="wish-list">
		{% for wish in wishes %}
			<article class="wish-list-article">
				<a href="{{ path('wish_detail', {'id': wish.id }) }}" title="View detail">
					<p>{{ wish.title }}</p>
				</a>
			</article>
		{% endfor %}
	</section>
{% endblock %}

{% block title %}
	{{parent()}} | List
{% endblock %}
